/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
#barrons_flag{
	-fx-background-color: rgb(128,64,64);
	
}

#kalpans_flag{
	-fx-background-color: rgb(128,64,64);
	
} 
#manhattans_flag{
	-fx-background-color: rgb(128,64,64);
	
}  